@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap');
@import "tailwindcss";


:root {
  --background-light: #E0E0E0;
  --foreground-light: #171717;
  --callout-light: #804F94;
  --test: #804F94;

  --background-dark: #0C0D1A;
  --foreground-dark: #ededed;
  --callout-dark: #804F94;

  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
  --callout: var(--callout-dark);
}

/* Responsive base font sizes */
html {
  font-size: 14px;
  /* Base font size for mobile */
}

@media (min-width: 640px) {

  /* sm */
  html {
    font-size: 15px;
  }
}

@media (min-width: 768px) {

  /* md */
  html {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {

  /* lg */
  html {
    font-size: 17px;
  }
}

@media (min-width: 1280px) {

  /* xl */
  html {
    font-size: 18px;
  }
}

@media (min-width: 1536px) {

  /* 2xl */
  html {
    font-size: 19px;
  }
}

@media (min-width: 1920px) {

  /* 3xl */
  html {
    font-size: 20px;
  }
}

@media (min-width: 2560px) {

  /* 4xl */
  html {
    font-size: 22px;
  }
}

@media (min-width: 3840px) {

  /* 5xl (4K) */
  html {
    font-size: 24px;
  }
}

body.dark {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
  --callout: var(--callout-dark);
}

body:not(.dark) {
  --background: var(--background-light);
  --foreground: var(--foreground-light);
  --callout: var(--callout-light);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-callout: var(--callout);
}



body {
  background: var(--background);

  color: var(--foreground);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes bounce-scroll {

  0%,
  100% {
    transform: translateY(0) translateX(-50%);
    /* Start and end at original position */
  }

  50% {
    transform: translateY(-15px) translateX(-50%);
    /* Move up by 15px */
  }
}

.animate-bounce-scroll {
  animation: bounce-scroll 1.5s infinite ease-in-out;
  /* Apply the animation */
}

/* Hide scrollbar for carousel */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}